* {
  margin: 0px;
  padding: 0px;
}

.search {
  width: 400px;
  margin: 20px auto;
}

.search input {
  width: 300px;
  height: 40px;
}

.search button {
  width: 80px;
  height: 40px;
  margin-left: 12px;
}

hr {
  margin-top: 8px;
}


h3 {
  text-align: left;
}

.list {
  width: 320px;
  list-style: none;
}

.list div {
  width: 200px;
  border: 1px solid;
  border-radius: 12px ;
  margin-left: 2px;
  background-color: #eeeeee;
}

.list li{
  margin-top: 3px;
}

.list span {
  float: right;
  margin-right: 2px;
  cursor: pointer;
}
